
<div class="home">
    <img class="home__picture" src="assets/images/cloudy.png">
    <h1 class="home__title">Добро пожаловать на сайт</h1>
    <p class="home__subtitle">Здесь вы можете узнать время и погоду в любом городе</p>    
    <ul class="home__menu">
        <li class="home__item">
            <a class="home__link" routerLink="/time">
                <button class="home__btn" mat-raised-button>Узнать время</button>
            </a>
        </li>        
        <li class="home__item">
            <a class="home__link" routerLink="/weather">
                <button class="home__btn" mat-raised-button>Узнать погоду</button>
            </a>
        </li>
    </ul>
</div>
