


.time
{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    &__title
    {
        font-size: 3rem;
        color: black;
        margin-bottom: 1rem;
    }
    &__subtitle
    {
        font-size: 2rem;
        margin-bottom: 5rem;
        color: black;
    }
}