@import 'assets/styles/theme.style.scss';

*, *::before, *::after 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul 
{
    list-style-type: none;
}

a
{
    text-decoration: none;
}

html
{
    font-size: 10px;
    --accent-color: #2f6cc7;
}

.container
{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    @media screen and (max-width: 1440px)
    {
        padding: 0 1rem
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
