
@use '~@angular/material' as mat;

@include mat.core();

$test-primary: mat.define-palette(mat.$indigo-palette);
$test-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$test-warn: mat.define-palette(mat.$red-palette);

$test-theme: mat.define-light-theme((
  color: (
    primary: $test-primary,
    accent: $test-accent,
    warn: $test-warn,
  )
));

@include mat.all-component-themes($test-theme);