

.weather
{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    &__title
    {
        font-size: 3rem;
        color: black;
        margin-bottom: 1rem;
    }
    &__subtitle
    {
        font-size: 2rem;
        margin-bottom: 5rem;
        color: black;
    }

    &__list
    {
        margin-top: 3rem;
        text-align: left;
    }

    &__item
    {
        font-size: 1.8rem;
        text-align: justify;
    }
}

.form
{
    display: flex;

    &__input
    {
        font-size: 1.6rem;
        padding: 0 1rem;
        border: none;
        box-shadow: 0px 3px 1px -2px #00000033, 
                    0px 2px 2px 0px #00000024, 
                    0px 1px 5px 0px #0000001f;
        &:focus
        {
            outline: none;
            box-shadow: 0px 3px 1px -2px var(--accent-color), 
                        0px 2px 2px 0px var(--accent-color), 
                        0px 1px 5px 0px var(--accent-color);          
        }
    }

    &__submit
    {
        background: var(--accent-color);
        color: white;
        margin-left: 1rem;
    }
}

.error
{
    margin-top: 3rem;
    font-size: 2rem;
    color: red;
}